/* styles for the header bar and basic aligning of the page*/
body {
  margin: 3rem;
  padding: 1rem;
  border-radius: 10px;
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}
header {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;

}
h1 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: 160%;

}
#emoji-button {
  background-color: transparent;
  border: none;
  padding: .5rem;

}
#back-button {
  padding: .5rem;
  border-radius: .5rem;
  margin-right: 1rem;
}
.main-form {
  display: flex;
  padding: 7px;
  flex-direction: row;
}
#form-container {
  margin: 3px;
  padding: 3px;
}


/* Styles for the image*/
.container {
  margin-top: 10px;
  width: 50%;
  display: flex;
  height: 30rem;
}
#img-container {
  margin: 3px;
  padding: 3px;
  position: relative;
  
}

img {
  width: 100%;
  object-fit: contain;
}
h5 {
  position: absolute;
  bottom: 45%;
  left: 32%;
  font-size: 200%;
}

/*Styles for footer*/
footer {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
h4 {
  display: flex;
  justify-content: center;
  padding: 5px;
}
footer ul {
  padding-bottom: 5px;
}
footer ul li {
  padding-bottom: 10px;
}

a {
  color:antiquewhite;
  text-shadow: 5px 5px 5px rgba(45, 54, 51, 0.726);
}


/*Styles for the blog entry page*/
p {
padding-bottom: 1.5rem;
}
main-blog {
  display: flex;
  flex-direction: rows;
}
#posts div {
  width: 100%;
  padding: 1rem;
  background-color: rgb(109, 145, 133);
  border-radius: 8px;
  margin-bottom: 1rem;
}
.title {
  font-size: 120%;
  border-bottom: rgb(45, 54, 51) 2px solid;
}

.content {
  font-size: 100%;
  padding-top: .5rem;
  padding-bottom: 2rem;
  text-indent: 1rem;
}
.user-name {
  font-size: 70%;
  padding-bottom: .5rem;
}
.errorMessage {
  display: hidden;
}
.errorMessage:enabled {
    display: block;
}


a {
  text-decoration: none;
}

/* 
Styles for the pseudoclasses/elements */

#emoji-button:hover {
  cursor: pointer;
  filter: brightness(1.5);
  text-shadow: -2px -2px 2px antiquewhite;
}
#back-button:hover {
  cursor: pointer;
  filter:brightness(1.5);
}

a:hover {
  text-decoration: underline;
}