/* creating styles for the form container */

#form-container {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

h2 {
text-align: center;
width: 100%;
padding-top: 5%;
font-size: 120%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5%;
  justify-content: center;
  padding: 5%;
}


form li  {
  padding-bottom: 5%;
}
label {
  line-height: 2;
  font-size: 90%;
}

input {
  width: 100%;
}

#blog-content {
  width: 100%;
  min-height: 5rem;
}

/* TODO: add styles to make the input boxes rounded */

/* TODO: add styling to the submit button */

/* TODO: add pseudo elements to style the boxes when typing within */