/* Default style of page */

body {
  background-color: antiquewhite;
  color: black;
}
/* Light Mode */

.light {
  background-color: antiquewhite;
  color: black;
}

/* Dark Mode */
.dark {
  background-color: darkolivegreen;
  color: white;
}
  
